* {
  box-sizing: border-box;
}

body {
  background: forestgreen;
  color: #fff;
}

.gametable {
  padding: 1em;
}

.players {
  display: flex;
}

.player {
  flex: 1 1 auto;
  border: 1px solid gold;
  padding: 1em;
  text-align: center;
  position: relative;
} 

.card {
  position: absolute;
  width: 130px;
  height: 185px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(0,0,0,.15);
}

.card.H,
.card.D {
  color: red;
}

.card.S,
.card.C {
  color: black;
}

.card.facedown {
  background: url('./cardbg.jpg');
  background-size: cover;
}

.card .wrapper {
  position: relative;
}

.card .suit {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card .text {
  font-size: 6rem;
  line-height: 200%;
  font-weight: bolder;
}
